Booom2024-7/UserSettings
Booom2024-7/Temp
*.sln
Booom2024-7/Logs
Booom2024-7/Library
*.csproj
*.vsconfig
Booom2024-7/.vscode/extensions.json
Booom2024-7/.vscode/launch.json
Booom2024-7/.vscode/settings.json
Booom2024-7/.vs/Booom2024-7/v16/.suo
Booom2024-7/Assets/Art
Booom2024-7/Assets/Art
Booom2024-7/.idea
Booom2024-7/obj
